# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Tests
.coverage
.pytest_cache

# Env files
.env

# Local
meta/
**helper.py
ig5_web/static/doc/*
ig5_web/static/img/about/*
ig5_web/static/img/summary/*

# Frozen-Flask
build/

