{% import "macros.j2" as macros %}

<h2>Sprievodná akcia<a name="special"></a></h2>
<h3>Prezentácia modernej meračskej techniky</h3>
{{ macros.photo_gallery(summary_img_dir + "/" + year + "/special", photos_special) }}
<p>
  Pred pretekmi nás „geodeticky nakopli“:
</p>
<ul>
	<li>
    <a href="http://www.ornth.sk/">ORNTH s.r.o.</a>:
    geodeticko - obchodná firma - Magellan, Sokkia, Nikon,...
  </li>
	<li>
    <a href="http://www.geodis.sk/">GEODIS Slovakia s.r.o.</a>:
    obchodná a fotogrametrická spoločnosť - predaj geodetických, laserových prístrojov,
    lekárskej techniky a zariadení pre tlač, služby v oblasti fotogrametrie a geodézie - Topcon, Riegl, ...
  </li>
	<li>
    <a href="http://www.agis.sk/o-nas/">AGIS Slovakia s.r.o.</a>:
    predaj a servis GPS prístrojov značky Trimble, Gps poradenstvo ...
  </li>
</ul>
