{% macro navbar(nav_items, active_page) %}
  {% for nav_item in nav_items -%}
    {% if nav_item is mapping %}
      <li class="nav-item mx-lg-1 mx-md-1 dropdown">
        <a class="nav-link dropdown-toggle {% if active_page.startswith('results') -%}active{% endif -%}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          {{ nav_item.keys()|first }}
        </a>
        <div class="dropdown-menu">
        {% for href, id_, caption in nav_item.values()|first %}
          <a class="dropdown-item {% if id_ == active_page -%}active{% endif -%}" href="{{ href|e }}" title="{{ caption|e }}">
            {{ caption|safe|e }}
          </a>
        {% endfor %}
        </div>
      </li>
    {% else %}
      {% set href = nav_item[0] %}
      {% set id_ = nav_item[1] %}
      {% set caption = nav_item[2]|safe %}
      <li class="nav-item mx-lg-1 mx-md-1">
        <a class="nav-link {% if id_ == active_page -%}active{% endif -%}" href="{{ href|e }}" title="{{ caption|e }}">
          {{ caption|e }}
        </a>
      </li>
    {% endif %}
  {% endfor -%}
{%- endmacro %}

{% macro school_list(schools) %}
  {%- for country, country_schools in schools.items() -%}
    {% if country_schools %}
      <h3>{{ country }}</h3>
    {% endif -%}

    <ul>
    {%- for school in country_schools %}
      <li>
        <a href="{{ school.url }}">{{ school.name -}}<span class="blue"> {{ school.city }}</span></a>
      </li>
    {%- endfor %}
    </ul>
  {% endfor %}
{%- endmacro %}


{% macro sponsor_list(sponsors, special) %}
  {% if sponsors %}
    <p>
    {% if not special %}
    Sponzori, vďaka ktorým sa súťaž mohla uskutočniť:
    {% else %}
    {{ special }}
    {% endif %}
    </p>

    <div id="sponzoring">
      <ul>
      {% for sponsor in sponsors %}
        {% if not sponsor.url %}
        <li>{{ sponsor.name }}</li>
        {% else %}
        <li>
          <a href="{{ sponsor.url }}">{{ sponsor.name }}</a>
        </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  {% endif %}
{%- endmacro %}


{% macro added_summary_link(order) -%}
  {% set href = url_for("summary", order=order, _external=True) %}
  <a href="{{ href }}">{{ href }}</a>
{%- endmacro %}


{% macro photo_gallery(photos) -%}
<div class="row text-center">
  {% for name, thumbnail, image in photos %}
    {% set href_thumbnail = url_for("static", filename=thumbnail) %}
    {% set href_image = url_for("static", filename=image) %}
    <a class="thumbnail col-sm-3" title="{{ name }}" href="{{ href_image }}" data-fancybox="images" rel="gallery">
      <img class="img-fluid" src="{{ href_thumbnail }}" title="{{ name }}" alt="{{ name }}">
    </a>
  {% endfor %}
</div>
{%- endmacro %}
