{% macro school_list(schools) %}
  {%- for country, country_schools in schools.items() -%}
    {% if country_schools %}
      <h3>{{ country }}</h3>
    {% endif -%}

    <ul>
    {%- for school in country_schools %}
      <li>
        <a href="{{ school.url }}">{{ school.name -}}<span class="blue"> {{ school.city }}</span></a>
      </li>
    {%- endfor %}
    </ul>
  {% endfor %}
{%- endmacro %}


{% macro sponsor_list(sponsors, special) %}
  {% if sponsors %}
    <p>
    {% if not special %}
    Sponzori, vďaka ktorým sa súťaž mohla uskutočniť:
    {% else %}
    {{ special }}
    {% endif %}
    </p>

    <div id="sponzoring">
      <ul class="sponzoring_text">
      {% for sponsor in sponsors %}
        {% if not sponsor.url %}
        <li>{{ sponsor.name }}</li>
        {% else %}
        <li>
          <a href="{{ sponsor.url }}">{{ sponsor.name }}</a>
        </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  {% endif %}
{%- endmacro %}


{% macro google_map() %}
  <div id="elevation_chart" style="position:absolute; z-index:0; margin-top:75px"></div>
  <div id="map_canvas" style="width: 100%; height:550px; position:relative"></div>
{%- endmacro %}


{% macro google_map_scripts(center, zoom, points, gmaps_api_key) %}
  <!-- Google maps -->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_api_key }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/maps.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/markerwithlabel.js')}}"></script>
  <script type="text/javascript">
    var center = new google.maps.LatLng({{ center }});
    var zoom = {{ zoom }};
    var points = {{ points }};

    $(document).ready(function() {
    		maps_initialize()
    });
  </script>
{%- endmacro %}


{% macro navigation_item(navigation_item, active_page) -%}
  {% set href = navigation_item[0] %}
  {% set id_ = navigation_item[1] %}
  {% set caption = navigation_item[2]|safe %}
  <a href="{{ href|e }}" title="{{ caption|e }}">
    <li {% if id_ == active_page -%}class="active"{% endif -%}>
      {{ caption|e }}
    </li>
  </a>
{%- endmacro %}


{% macro added_summary_link(order) -%}
  {% set href = url_for("summary", order=order, _external=True) %}
  <a href="{{ href }}">{{ href }}</a>
{%- endmacro %}


{% macro photo_gallery(photos) -%}
<div class="gallery">
  {% for name, thumbnail, image in photos %}
    <div class="thumbnail">
      {% set href_thumbnail = url_for("static", filename=thumbnail) %}
      {% set href_image = url_for("static", filename=image) %}
      <a data-fancybox="images" class="thumbnailhover" rel="gallery" title="{{ name }}" href="{{ href_image }}">
        <img src="{{ href_thumbnail }}" title="{{ name }}" alt="{{ name }}" height="113">
      </a>
    </div>
  {% endfor %}
</div>
{%- endmacro %}
