{% extends "layout.html" %}

{% set active_page = "index" -%}
{% block title %}IG5 - Medzinárodný geodetický päťboj Lučenec{% endblock %}

{% block content %}
<p>
  <i>
    Vitajte na stránkach venovaných medzinárodnému geodetickému 5-boju (International Geodetic Pentathlon) - <span class="blue">IG5 Lučenec</span>.
    Nájdete tu všetky informácie o <span class="blue">jedinej akcii svojho druhu</span> počínajúc <span class="blue" title="O IG5">popisom súťaže</span>
    cez <span class="blue" title="Výsledky IG5">výsledky</span> jednotlivých ročníkov, <span class="blue">foto a video</span> dokumentáciu,
    <span class="blue">mapy</span> trás pretekov až po <span class="blue">kontakty</span> na zúčastnené stredné školy,
    <span class="blue">organizátora a sponzorov</span> podujatia.
    </i>
</p>

<h2>14. ročník IG5</h2>
<p class="author">Pridal: Pf | 09.02.2019</p>
<p>
  14. ročník IG5 sa uskutoční na pôde strednej priemyselnej školy <span class="blue">Duchcov</span>
  v spolupráci s SPŠOW <span class="blue">Lučenec</span>.
  <br><br>
  Za podporu vo fáze prípravy ďakujeme <span class="blue">Geotech</span> s.r.o.; Bratislava.
</p>


<h2>13. ročník IG5</h2>
<p class="author">Pridal: Dm | 09.02.2019</p>
<p>
  Pridané zhrnutie <span class="blue">13. ročníka</span> súťaže, viď.
  {{ macros.added_summary_link(13) }}.
</p>


<h2>12. ročník IG5</h2>
<p class="author">Pridal: Dm | 06.07.2017</p>
<p>
  Pridané zhrnutie <span class="blue">12. ročníka</span> súťaže, viď.
  {{ macros.added_summary_link(12) }}.
</p>


<h2>11. ročník IG5</h2>
<p class="author">Pridal: Dm | 06.05.2016</p>
<p>
  Pridané zhrnutie <span class="blue">11. ročníka</span> súťaže, viď.
  {{ macros.added_summary_link(11) }}.
</p>


<h2>9. a 10. ročník IG5</h2>
<p class="author">Pridal: Dm | 09.04.2016</p>
<p>
  Pridané zhrnutie <span class="blue">9. a 10. ročníka</span> súťaže, viď.
  {{ macros.added_summary_link(9) }} a
  {{ macros.added_summary_link(10) }}.


<h2>11. ročník IG5</h2>
<p class="author">Pridal: Pf | 18.03.2016</p>
<p>
  11. ročník IG5 sa uskutoční <span class="blue">15. - 16. apríla 2016</span> a
  načrieme v ňom do našej histórie.
</p>


<h2>8. ročník GIG5</h2>
<p class="author">Pridal: Dm | 08.05.2014</p>
<p>
  Pridané zhrnutie <span class="blue">8. ročníka</span> súťaže, viď.
  {{ macros.added_summary_link(8) }}.
</p>


<h2>9. ročník IG5</h2>
<p class="author">Pridal: Pf | 28.03.2014</p>
<p>
  9. ročník IG5 sa uskutoční <span class="blue">11. - 13. apríla 2014</span> na pôde strednej priemyselnej školy <span class="blue">Letohrad</span>.
  <br><br>
  SPŠS Oskara Winklera Lučenec na trasu vystrojil <span class="blue">Sport-outdoor</span> Lučenec a na ceste do Letohradu podporili partneri:</p>
  <ul class="arrow">
    <li>Geodetická kancelária: <span class="blue">GRUY</span> s.r.o.; Lučenec</li>
    <li>Geodetická kancelária: <span class="blue">Sekerka, Molnárová</span>; Lučenec</li>
    <li>Geodetická kancelária: <span class="blue">Maroš Galád</span>; Lučenec</li>
    <li><span class="blue">GEODETI G5</span> s.r.o.; Lučenec</li>
    <li>Občianske združenie <span class="blue">STAV-GEO</span>; Lučenec</li>
    <li>Občianske združenie <span class="blue">SCHOLARIS</span>; Lučenec</li>
    <li><span class="blue">Komora geodetov a kartografov</span></li>
  </ul>
{% endblock %}
