{% extends "layout.html" %}

{% block title %}Medzinárodný geodetický päťboj Lučenec{% endblock %}

{% block content %}
<p>
  <i>
    Vitajte na stránkach venovaných medzinárodnému geodetickému 5-boju (International Geodetic Pentathlon) - <span class="blue">IG5 Lučenec</span>.
    Nájdete tu všetky informácie o <span class="blue">jedinej akcii svojho druhu</span> počínajúc <span class="blue" title="O IG5">popisom súťaže</span>
    cez <span class="blue" title="Výsledky IG5">výsledky</span> jednotlivých ročníkov, <span class="blue">foto a video</span> dokumentáciu,
    <span class="blue">mapy</span> trás pretekov až po <span class="blue">kontakty</span> na zúčastnené stredné školy,
    <span class="blue">organizátora a sponzorov</span> podujatia.
    </i>
</p>

<h2>14. ročník IG5</h2>
<p class="author">Pridal: Pf | 09.02.2019</p>
<p>
  14. ročník IG5 sa uskutoční na pôde strednej priemyselnej školy <span class="blue">Duchcov</span>
  v spolupráci so strednou priemyselnou školou <span class="blue">Lučenec</span>.
  <br><br>
  Za podporu vo fáze prípravy ďakujeme <span class="blue">Geotech</span> s.r.o.; Bratislava.
</p>
{% endblock %}
