{% import "_macros.j2" as macros %}

{% set pavol_fodor_description_suffix = " - autor a hlavný organizátor IG5" %}

<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="keywords" content="ig5,medzinarodny,geodeticky,patboj,lucenec,international,geodetic,pentathlon">
    <!-- Title -->
    <title>{% block title %}{% endblock %} | IG5</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/style/favicon.ico')}}"/>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>
    {% endblock %}
  </head>
  <body>
    <div id="navigation_bar"></div>
    <div id="wrapper">
      <div id="header">
        <ul id="navigation">
          {% for navigation_item in navigation_bar -%}
            {% if navigation_item is mapping %}
              <li {% if active_page.startswith("results") -%}class="active"{% endif -%}>
                <span>{{ navigation_item.keys()|first }} <span class="rotated">&raquo</span></span>
                <div>
                  <ul>
                    {% for subnav_item in navigation_item.values()|first %}
                      {{ macros.navigation_item(subnav_item, active_page) }}
                    {% endfor %}
                  </ul>
                </div>
              </li>
            {% else %}
              {{ macros.navigation_item(navigation_item, active_page) }}
            {% endif %}
          {% endfor -%}
        </ul>
        <span id="description">International Geodetic Pentathlon Lučenec</span>
      </div>
      <div id="border">
        <div id="content">
          {% block content %}
          {% endblock %}
          <div style="width: 100%; display: flex"></div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div id="footer_content">
        <p>Copyrihgt IG5 {{ copyright_year }}</p>
      </div>
    </div>
    {% block scripts %}
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    {% endblock %}
  </body>
</html>
