{% extends "layout.html" %}

{% set active_page = "results-stats" -%}
{% block title %}Štatistiky{% endblock %}

{% block content %}
<h1>Štatistiky všetkých ročníkov IG5</h1>
<div id="sub_nav">
  <a href="#basic">Základné údaje</a>
  &bull; <a href="#schools">Zúčastnené školy</a>
  &bull; <a href="#results">Výsledky</a>
</div>

<a name="basic" href="#basic"><h2>Základné údaje</h2></a>
<ul class="no-bullet">
  <li><span class="red">Organizátor:</span>
    <ul class="no-bullet">
    {% for organizer in organizers %}
      <li>{{ organizer[1]|length }}x {{ organizer[0] }} ({{ organizer[1]|join(', ') }})</li>
    {% endfor %}
    </ul>
  </li>
  <li><span class="red">Počet zúčastnených škôl:</span>
    <ul class="no-bullet">
    {% for (attendance, years) in schools_attendance %}
      <li>{{ attendance }} ({{ years|join(', ') }})</li>
    {% endfor %}
    </ul>
  </li>
</ul>

<a name="schools" href="#schools"><h2>Zúčastnené školy</h2></a>
{{ macros.school_list(schools.schools, True) }}

<a name="results" href="#results"><h2>Výsledky</h2></a>
<div>
  {{ macros.category1_headings() }}
  <canvas id="cat1_chart"></canvas>
</div>

<div>
  {{ macros.category2_headings() }}
  <canvas id="cat2_chart"></canvas>
</div>

<div>
  <h3>Top 3 umiestnenia</h3>
  <h4>Celkový počet top 3 umiestnení v oboch kategóriách</h4>
  <canvas id="total_chart"></canvas>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- Chart JS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.9/dist/chart.umd.min.js"></script>
<!-- Stacked Bar Chart -->
<script type="text/javascript" src="{{ url_for('static', filename='js/stacked_bar_chart.js') }}"></script>
<script>
  const cat1_data = {{ cat1_stats | safe }};
  const cat2_data = {{ cat2_stats | safe }};
  const total_data = {{ total_stats | safe }};

  stacked_bar_chart(cat1_data, "cat1_chart", 18);
  stacked_bar_chart(cat2_data, "cat2_chart", 18);
  stacked_bar_chart(total_data, "total_chart", 30);
</script>
{% endblock %}
