{% extends "layout.html" %}

{% set active_page = "results-" ~ year -%}
{% block title %}Výsledky {{ order }}. ročníka{% endblock %}

{% block content %}
<h1>{{ order }}. ročník {% if summary.basic.mainSponsor %}{{ summary.basic.mainSponsor }}{% endif %} IG5</h1>
<div id="sub_nav">
  <a href="#basic">Základné údaje</a> &middot;
  <a href="#schools">Zúčastnené školy</a> &middot;
  <a href="#results">Výsledky</a> {% if summary.route %} &middot; {% endif %}
  {% if summary.route %}
  <a href="#route">Trasa</a> &middot;
  {% endif %}
  <a href="#fotos">Fotogaléria</a> {% if summary.video or docs %} &middot; {% endif %}
  {% if summary.video %}
  <a href="#video">Video</a> {% if docs %} &middot; {% endif %}
  {% endif %}
  {% if docs %}
  <a href="#downloads">Na stiahnutie</a> {% if summary.hasSpecial %} &middot; {% endif %}
  {% endif %}
  {% if summary.hasSpecial %}
  <a href="#special">Sprievodná akcia</a>
  {% endif %}
</div>


<h2>Základné údaje<a name="basic"></a></h2>
<ul>
  <li><span class="red">Dátum: </span>{{ summary.basic.date }} {{ year }}</li>
  <li><span class="red">Organizátor: </span>{{ summary.basic.organizer }}</li>
  <li><span class="red">Počet zúčastnených škôl: </span>{{ school_count }}</li>
  <li><span class="red">Počet súťažných týmov: </span>{{ summary.basic.teamCount }}</li>
  <li><span class="red">Celkový počet účastníkov: </span>{{ summary.basic.teamCount * 3 }}</li>
</ul>
{{ macros.sponsor_list(sponsors, summary.basic.sponsorsSpecial) }}


<h2>Zúčastnené školy<a name="schools"></a></h2>
{{ macros.school_list(schools.schools) }}


<h2>Výsledky<a name="results"></a></h2>
<div class="row">
  {% set float_to = "left" %}
  {% if "category1" in summary.results %}
    <div class="col-lg-6">
      <h3>1. Kategória</h3>
      <h4>Celkový čas absolvovania trasy a jednotlivých úloh na stanoviskách s pridelenými trestnými a bonusovými minútami</h4>
      <ol>
      {% for result in summary.results.category1 %}
        <li>{{ result }}</li>
      {% endfor %}
      </ol>
    </div>
    {% set float_to = "right" %}
  {% endif %}

  {% if "category2" in summary.results %}
    <div class="col-lg-6">
      <h3>2. Kategória</h3>
      <h4>Kvalita a rýchlosť vykonávania úloh na stanoviskách bez ohľadu na celkový čas</h4>
      <ol>
      {% for result in summary.results.category2 %}
        <li>{{ result }}</li>
      {% endfor %}
      </ol>
    </div>
  {% endif %}
</div>

{% if summary.route %}
<h2>Trasa<a name="route"></a></h2>
<ul class="route">
  <li><span class="red">Lokalita: </span>{{ summary.route.location }}</li>
  <li><span class="red">Štart: </span>{{ summary.route.start }}</li>
  <li><span class="red">Cieľ: </span>{{ summary.route.finish }}</li>
  <li><span class="red">Dĺžka: </span>{{ summary.route.length }} km</li>
  <li><span class="red">Počet orientačných stanovísk: </span>{{ summary.route.orientationSiteCount }}</li>
</ul>
{{ macros.google_map() }}
{% endif %}


<h2>Fotogaléria<a name="fotos"></a></h2>
{{ macros.photo_gallery(photos) }}


{% if summary.video %}
<h2>Video<a name="video"></a></h2>
<iframe width="100%" height="550" src="{{ summary.video }}" frameborder="0"></iframe>
{% endif %}


{% if docs %}
<h2>Na stiahnutie<a name="downloads"></a></h2>
<ul>
{% for name, size, label in docs %}
  <li><a href="{{ url_for("static", filename="doc/" + name) }}">{{ label }} ({{ size }} mb)</a></li>
{% endfor %}
</ul>
{% endif %}


{% if summary.hasSpecial %}
{% include "special/summary/" ~ year ~ ".html" %}
{% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% if summary.route %}
    {{
        macros.google_map_scripts(
          summary.route.googleMapsSettings.center|join(","),
          summary.route.googleMapsSettings.zoom,
          summary.route.points|safe
        )
    }}
  {% endif %}

<!-- Fancybox -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{% endblock %}
