{% extends "layout.html" %}

{% set active_page = "results-" ~ year -%}
{% block title %}Výsledky {{ order }}. ročníka{% endblock %}
{% block head %}
{{ super() }}
<!-- Fancybox -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
{% endblock %}

{% block content %}
<h1>{{ order }}. ročník {% if summary.basic.mainSponsor %}{{ summary.basic.mainSponsor }}{% endif %} IG5</h1>
<div id="sub_nav">
  <a href="#basic">Základné údaje</a>
  &bull; <a href="#schools">Zúčastnené školy</a>
  &bull; <a href="#results">Výsledky</a>
  {% if summary.route %}
  &bull; <a href="#route">Trasa</a>
  {% endif %}
  {% if photos %}
  &bull; <a href="#fotos">Fotogaléria</a>
  {% endif %}
  {% if summary.video %}
  &bull; <a href="#video">Video</a>
  {% endif %}
  {% if docs %}
  &bull; <a href="#downloads">Na stiahnutie</a>
  {% endif %}
  {% if summary.hasSpecial %}
  &bull; <a href="#special">Sprievodná akcia</a>
  {% endif %}
</div>


<a name="basic" href="#basic"><h2>Základné údaje</h2></a>
<ul class="no-bullet">
  <li><span class="red">Dátum: </span>{{ summary.basic.date }} {{ year }}</li>
  <li><span class="red">Organizátor: </span>{{ summary.basic.organizer }}</li>
  <li><span class="red">Počet zúčastnených škôl: </span>{{ school_count }}</li>
  <li><span class="red">Počet súťažných týmov: </span>{{ summary.basic.teamCount }}</li>
  <li><span class="red">Celkový počet účastníkov: </span>{{ summary.basic.teamCount * 3 }}</li>
</ul>
{{ macros.sponsor_list(sponsors, summary.basic.sponsorsSpecial) }}


<a name="schools" href="#schools"><h2>Zúčastnené školy</h2></a>
{{ macros.school_list(schools.schools) }}


<a name="results" href="#results"><h2>Výsledky</h2></a>
{% if "category1" in summary.results %}
  <div>
    <h3>1. Kategória</h3>
    <h4>Celkový čas absolvovania trasy a jednotlivých úloh na stanoviskách s pridelenými trestnými a bonusovými minútami</h4>
    <ol>
    {% for result in summary.results.category1 %}
      <li>{{ result }}</li>
    {% endfor %}
    </ol>
  </div>
{% endif %}

{% if "category2" in summary.results %}
  <div>
    <h3>2. Kategória</h3>
    <h4>Kvalita a rýchlosť vykonávania úloh na stanoviskách bez ohľadu na celkový čas</h4>
    <ol>
    {% for result in summary.results.category2 %}
      <li>{{ result }}</li>
    {% endfor %}
    </ol>
  </div>
{% endif %}

{% if summary.route %}
<a name="route" href="#route"><h2>Trasa</h2></a>
<ul id="route-desc" class="no-bullet">
  <li><span class="red">Lokalita: </span>{{ summary.route.location }}</li>
  <li><span class="red">Štart: </span>{{ summary.route.start }}</li>
  <li><span class="red">Cieľ: </span>{{ summary.route.finish }}</li>
  <li><span class="red">Dĺžka: </span>{{ summary.route.length }} km</li>
  <li><span class="red">Počet orientačných stanovísk: </span>{{ summary.route.orientationSiteCount }}</li>
</ul>
{{ macros.google_map() }}
{% endif %}


{% if photos %}
<a name="fotos" href="#fotos"><h2>Fotogaléria</h2></a>
{{ macros.photo_gallery(photos) }}
{% endif %}


{% if summary.video %}
<a name="video" href="#video"><h2>Video</h2></a>
<iframe width="100%" height="550" src="{{ summary.video }}" frameborder="0"></iframe>
{% endif %}


{% if docs %}
<a name="downloads" href="#downloads"><h2>Na stiahnutie</h2></a>
<ul>
{% for name, size, label in docs %}
  <li><a href="{{ url_for("static", filename="doc/" + name) }}">{{ label }} ({{ size }} mb)</a></li>
{% endfor %}
</ul>
{% endif %}


{% if summary.hasSpecial %}
{% include "special/summary/" ~ year ~ ".html" %}
{% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% if summary.route %}
    {{
        macros.google_map_scripts(
          summary.route.googleMapsSettings.center|join(","),
          summary.route.googleMapsSettings.zoom,
          summary.route.points|safe
        )
    }}
  {% endif %}

<!-- Fancybox -->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{% endblock %}
