body {
  font-size: 1.1rem;
  font-family: Georgia, "MgOpen Canonica", "URW Bookman L", serif;
}

/* Headings --------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0093dd;
  font-family: Arial, "Nimbus Sans L", FreeSans, sans-serif;
}

h1 {
  text-align: center;
}

h3,
h4 {
  color: #db3041;
}

h4 {
  font-size: 1.15rem;
}

/* Basic elements --------------------------------------------------------- */
p {
  color: #373737;
}

iframe {
  margin-bottom: 1rem;
}

/* Links ------------------------------------------------------------------ */
a {
  color: #373737;
  text-decoration: underline;
}

a:hover {
  color: #373737;
  text-decoration: none;
}

/* file type icons */
a[href$=".pdf"] {
  padding-right: 25px;
  background: transparent url(img/style/icon_pdf.gif) no-repeat center right;
}

a[href$=".pps"] {
  padding-right: 25px;
  background: transparent url(img/style/icon_pps.gif) no-repeat center right;
}

a[href$=".doc"] {
  padding-right: 25px;
  background: transparent url(img/style/icon_doc.gif) no-repeat center right;
}

a[href$=".xlsx"] {
  padding-right: 25px;
  background: transparent url(img/style/icon_xls.gif) no-repeat center right;
}

a[href^="mailto"] {
  padding-right: 20px;
  background: transparent url(img/style/icon_email.gif) no-repeat center right;
}

/* Summary headers local links */
a[name] {
  text-decoration: none !important;
}

a[name]:hover h2:after {
  content: " #";
}

/* Custom ids and classes ------------------------------------------------- */
#content {
  padding-top: 2rem;
}

#sub_nav {
  text-align: center;
  padding-bottom: 20px;
}

#sponzoring {
  text-align: center;
}

#sponzoring ul li {
  display: inline-block;
  padding-right: 30px;
}

#map_canvas {
  margin-bottom: 1rem;
}

/* for blue highlighting */
.blue {
  color: #0093dd;
}

/* for red ul headings */
.red {
  color: #db3041;
}

ul.no-bullet {
  list-style: none;
}

/* About - practical tasks and questions */
ol.tasks li {
  list-style-type: upper-alpha;
}

ol.questions li:after {
  content: "?";
}

/* Gallery ---------------------------------------------------------------- */
.thumbnail {
  padding-bottom: 1rem;
}

.thumbnail img {
  max-height: 113px;
  border: 2px solid #0093dd;
}

.thumbnail img:hover {
  border: 2px solid #db3041;
}

/* Bootstrap nav override ------------------------------------------------- */
.dropdown-item {
  font-size: 1.1rem;
}

.nav-pills .nav-item {
  margin: .15rem 2rem;
}

.nav-pills .nav-link,
.dropdown-item {
  color: #373737 !important;
  text-decoration: none;
}

.dropdown-item:hover {
  text-decoration: none;
  color: #ffffff !important;
  background-color: #0093dd;
}

.nav-pills .nav-link:hover,
.nav-pills .show>.nav-link {
  color: #ffffff !important;
  background-color: #0093dd;
}

.nav-pills .nav-link.active,
.nav-pills .dropdown-item.active {
  color: #ffffff !important;
  background-color: #db3041;
}

/* Leaflet Awesome Markers -------------------------------------------------*/
.icon-white {
  font-size: 15px;
  margin-top: 12px;
  margin-left: 1px;
}
