body {
  font-size: 1.1rem;
  font-family: Georgia, "MgOpen Canonica", "URW Bookman L", serif;
}

/* Headings --------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  color: #0093dd;
  font-family: Arial, "Nimbus Sans L", FreeSans, sans-serif;
}
h1 {
  text-align: center;
}
h3, h4 {
  color: #db3041;
}
h4 {
  font-size: 1.15rem;
}

/* Basic elements --------------------------------------------------------- */
p {
  color: #373737;
}
iframe {
  margin-bottom: 1rem;
}

/* Links ------------------------------------------------------------------ */
a {
  color: #373737;
  text-decoration: underline;
}
a:hover {
  color: #373737;
  text-decoration: none;
}
/* file type icons */
a[href$=".pdf"] {
  padding-right: 25px;
  background: transparent url(img/style/icon_pdf.gif) no-repeat center right;
}
a[href$=".pps"] {
  padding-right: 25px;
  background: transparent url(img/style/icon_pps.gif) no-repeat center right;
}
a[href$=".doc"] {
  padding-right: 25px;
  background: transparent url(img/style/icon_doc.gif) no-repeat center right;
}
a[href$=".xlsx"] {
  padding-right: 25px;
  background: transparent url(img/style/icon_xls.gif) no-repeat center right;
}
a[href^="mailto"] {
  padding-right: 20px;
  background: transparent url(img/style/icon_email.gif) no-repeat center right;
}

/* Custom ids and classes ------------------------------------------------- */
#content {
  padding-top: 2rem;
}
#sub_nav {
  text-align: center;
  padding-bottom: 20px;
}
#sponzoring {
  text-align: center;
}
#sponzoring ul li {
  display: inline-block;
  padding-right: 30px;
}
#map_canvas {
  margin-bottom: 1rem;
}
/* for blue highlighting */
.blue {
  color: #0093dd;
}
/* for red ul headings */
.red {
  color: #db3041;
}
ul.no-bullet {
  list-style: none;
}
/* About - practical tasks and questions */
ol.tasks li {
  list-style-type: upper-alpha;
}
ol.questions li:after {
  content: "?";
}

/* Gallery ---------------------------------------------------------------- */
.gallery {
  float: left;
  padding-top: 20px;
  width: 100%;
}
.thumbnail {
  float: left;
  width: 150px;
  height: 150px;
  margin: 0px 21px;
}
.thumbnailhover {
  color: #fff !important;
  display: block;
}
.thumbnail img {
  max-width: 150px;
  margin: auto;
  display: block;
  border: 2px solid #0093dd;
  /*-moz-box-shadow: 2px 2px 2px #ccc;
		-webkit-box-shadow: 2px 2px 2px #ccc;
		box-shadow: 2px 2px 2px #ccc*/
}
.thumbnail img:hover {
  border: 2px solid #db3041;
}

/* Google maps labeling --------------------------------------------------- */
#HomeControl,
#ProfileControl {
  margin-top: 5px;
  margin-right: 5px;
  border: 1px solid #000;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  padding: 5px 5px 5px 5px;
}
#HomeControl:hover,
#ProfileControl:hover {
  cursor: pointer;
  border: 1px solid #fff;
}
.labels {
  color: #fff;
  padding: 2px;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  white-space: nowrap;
}
.start {
  background-color: #005580;
  border: 2px solid #0093dd;
}
.stanovisko {
  background-color: #801c26;
  border: 2px solid #db3041;
}
.orientacne {
  background-color: #db3041;
  border: 2px solid #801c26;
}
.finish {
  background-color: #808080;
  border: 2px solid #fff;
}


/* Bootstrap nav override ------------------------------------------------- */
.navbar-brand {
  margin-right: 0rem;
}

.navbar, .nav {
  padding-top: 1rem;
  padding-left: 1rem;
}

.dropdown-item {
  font-size: 1.1rem;
}

.nav-pills .nav-item {
  padding-top: .5rem;
}

.nav-pills .nav-link,
.dropdown-item {
  text-decoration: none;
}

.dropdown-item:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #0093dd;
}

.nav-pills .nav-link:hover,
.nav-pills .show>.nav-link {
  color: #ffffff;
  background-color: #0093dd;
}

.nav-pills .nav-link.active,
.nav-pills .dropdown-item.active {
  background-color: #db3041;
}
